*{
padding : 0;
margin : 0;
border : 0;
}

body {
    font-family: 'Rock Salt', cursive;
    font-size: 13px;
    color:#FFFFFF;
    background: url('../img/diamonds3.svg') repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
}

p {
    /*padding: 10px;*/
    text-align: center;
    margin: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    padding: 0;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    background: #4B0082;
    border-radius: 5px;
    border: 3px outset white;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 45px;
    box-shadow: 0px 0px 55px #000;
}

#navigationwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #8FBC8F;
    border-radius: 5px;
    border: 3px outset white;
    margin: 5px;
    box-shadow: 0px 0px 55px #000;
}

#startGame {
/*  display: flex;
  align-items: center;
  justify-content: center;*/
  height: 300px;
  width: 300px;
  background-color: #333333;
  position: absolute;
  margin:0 auto;
  right: 250px;
  top: 325px;
  z-index: 100;
  border-radius: 20px 75px 20px;
  border: outset;
  outline: none;
  /*border-style: hidden;*/
  box-shadow: 0px 0px 55px #000;
  cursor: pointer;
  opacity: 1;
}

#contentwrap {
    width: 800px;
    float: left;
    margin: 0 auto;
    font-size: 25px;
    box-shadow: 0px 0px 150px #333;
}

#content {
    position: relative;
    background: #535353;
    border-radius: 5px;
    border: 3px outset white;
    margin: 5px;
    height: 985px;
    width: 800px;
    box-shadow: 0px 0px 55px #000;
}

#leftcolumnwrap {
    width: 186px;
    float: left;
    margin: 0 auto;
}

#leftcolumn {
    background: #8FBC8F;
    border-radius: 5px;
    border: 3px outset white;
    margin: 5px;
    text-align: center;
    box-shadow: 0px 0px 55px #000;
}

#footerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #4B0082;
    border-radius: 5px;
    border: 3px outset white;
    margin: 5px;
    text-align: center;
    font-size: 9px;
    box-shadow: 0px 0px 55px #000;
    /*float:left;*/
}

#gameOn{
  background-color: #9370DB;
  border: 5px outset;
  margin-bottom: 10px;
  box-shadow: 0px 0px 55px #000;
 ;
}

.square0{
    background-color:#006400;
}
.square1{
    background-color:#FF00FF;
}
.square2{
    background-color:#9400D3;
}
.square3{
    background-color:#00FA9A;
}

.round{
  display: inline-block;
  border: 5px outset white;
  border-radius: 25px;
  height: 120px;
  width: 120px;
  background: black;
  color:white;
  font-size: 47px;
  align-items: center;
  align-content: center;
  margin: 10px;
  box-shadow: 0px 0px 55px #000;
  /*transform: rotate(45deg);
  text-transform: rotate(-45deg);*/
}

.score{
  display: inline-block;
  border: 10px outset white;
  border-radius: 25px;
  height: 100px;
  width: 100px;
  background: RebeccaPurple;
  color:white;
  font-size: 40px;
  align-items: center;
  margin-top: 15px;
  /*transform: rotate(45deg);*/
}

.corporate {
  float: left;
  height: 100px;
  width: 100px;
}

.square {
  display: inline-block;
  height: 380px;
  width: 380px;
  border: 10px outset white;
  border-radius: 100px;
  float: left;
  /*background-color: LightSlateGrey;*/
  text-align: center;
  box-shadow: 0px 0px 55px #000;
}

.button {
  font-family: 'Rock Salt', cursive;
  font-size: 15px;
  height: 70px;
  width: 200px;
  border: 5px outset;
  border-radius: 100px;
 /* float: left;*/
  background-color: #555555;
  text-align: center;
  color: white;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 55px #000;
}

.button:disabled {
  font-family: 'Rock Salt', cursive;
  font-size: 15px;
  height: 70px;
  width: 200px;
  border: 5px outset;
  border-radius: 100px;
 /* float: left;*/
  background-color: #57625A;
  text-align: center;
  color: white;
  outline:;
  cursor: pointer;
  box-shadow: 0px 0px 55px #000;
  opacity: .7;
}

.startButton{
  font-family: 'Rock Salt', cursive;
  display: flex;
  color:white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding-top: 0px;
  margin-bottom: 0px;
}

.startButton:disabled{
  font-family: 'Rock Salt', cursive;
  display: flex;
  color:white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding-top: 0px;
  margin-bottom: 0px;
  opacity:.7;
}

/*@-webkit-keyframes blinker {  
  from { opacity: .3; }
  to { opacity: 1; }
}*/

/*.lit {
  opacity: .3;
  transition: opacity 4s;
}*/